# without pandas...

In [1]:
import csv
with open('provinces-clean1.csv') as infile:
    reader = csv.DictReader(infile)
    data = list(reader)
data[1]['population']

'8522800'

In [2]:
[row for row in data 
    if int(row['population']) > 2000000]

[{'Province': 'Ontario[b]',
  'capital': 'Toronto',
  'largest_city': 'Toronto',
  'entered': 'July 1, 1867',
  'population': '14659616',
  'land_km2': '917741',
  'water_km2': '158654',
  'total_km2': '1076395',
  'languages': 'English[c]',
  'commons': '121',
  'senate': '24',
  'abbrev': 'ON'},
 {'Province': 'Quebec',
  'capital': 'Quebec City',
  'largest_city': 'Montreal',
  'entered': 'July 1, 1867',
  'population': '8522800',
  'land_km2': '1356128',
  'water_km2': '185928',
  'total_km2': '1542056',
  'languages': 'French[d]',
  'commons': '78',
  'senate': '24',
  'abbrev': 'QC'},
 {'Province': 'British Columbia',
  'capital': 'Victoria',
  'largest_city': 'Vancouver',
  'entered': 'July 20, 1871',
  'population': '5105576',
  'land_km2': '925186',
  'water_km2': '19549',
  'total_km2': '944735',
  'languages': 'English[c]',
  'commons': '42',
  'senate': '6',
  'abbrev': 'BC'},
 {'Province': 'Alberta',
  'capital': 'Edmonton',
  'largest_city': 'Calgary',
  'entered': 'September 1, 1905',
  'population': '4395586',
  'land_km2': '642317',
  'water_km2': '19531',
  'total_km2': '661848',
  'languages': 'English[c]',
  'commons': '34',
  'senate': '6',
  'abbrev': 'AB'},
 {'Province': 'Total',
  'capital': 'Total',
  'largest_city': 'Total',
  'entered': 'Total',
  'population': '37672706',
  'land_km2': '5490918',
  'water_km2': '572013',
  'total_km2': '6062931',
  'languages': '—',
  'commons': '335',
  'senate': '102',
  'abbrev': 'Total'}]

# with Pandas

In [3]:
import pandas as pd
df = pd.read_csv('provinces-clean1.csv')
df[df.population > 2000000]

,Province,capital,largest_city,entered,population,land_km2,water_km2,total_km2,languages,commons,senate,abbrev
0,Ontario[b],Toronto,Toronto,"July 1, 1867",14659616,917741,158654,1076395,English[c],121,24,ON
1,Quebec,Quebec City,Montreal,"July 1, 1867",8522800,1356128,185928,1542056,French[d],78,24,QC
5,British Columbia,Victoria,Vancouver,"July 20, 1871",5105576,925186,19549,944735,English[c],42,6,BC
8,Alberta,Edmonton,Calgary,"September 1, 1905",4395586,642317,19531,661848,English[c],34,6,AB
10,Total,Total,Total,Total,37672706,5490918,572013,6062931,—,335,102,Total

In [4]:
df[df.population > 2000000].Province

0           Ontario[b]
1               Quebec
5     British Columbia
8              Alberta
10               Total
Name: Province, dtype: object

In [5]:
df[df.population > 2000000][['Province', 'population']]

            Province  population
0         Ontario[b]    14659616
1             Quebec     8522800
5   British Columbia     5105576
8            Alberta     4395586
10             Total    37672706

# loc

In [6]:
df.loc[:, :]

,Province,capital,largest_city,entered,population,land_km2,water_km2,total_km2,languages,commons,senate,abbrev
0,Ontario[b],Toronto,Toronto,"July 1, 1867",14659616,917741,158654,1076395,English[c],121,24,ON
1,Quebec,Quebec City,Montreal,"July 1, 1867",8522800,1356128,185928,1542056,French[d],78,24,QC
2,Nova Scotia,Halifax[e],Halifax[e],"July 1, 1867",976768,53338,1946,55284,English[f],11,10,NS
3,New Brunswick,Fredericton,Moncton,"July 1, 1867",780021,71450,1458,72908,EnglishFrench[g],10,10,NB
4,Manitoba,Winnipeg,Winnipeg,"July 15, 1870",1373859,553556,94241,647797,English[c][h],14,6,MB
5,British Columbia,Victoria,Vancouver,"July 20, 1871",5105576,925186,19549,944735,English[c],42,6,BC
6,Prince Edward Island,Charlottetown,Charlottetown,"July 1, 1873",157901,5660,0,5660,English[c],4,4,PE
7,Saskatchewan,Regina,Saskatoon,"September 1, 1905",1178657,591670,59366,651036,English[c],14,6,SK
8,Alberta,Edmonton,Calgary,"September 1, 1905",4395586,642317,19531,661848,English[c],34,6,AB
9,Newfoundland and Labrador,St. John's,St. John's,"March 31, 1949",521922,373872,31340,405212,English[c],7,6,NL
10,Total,Total,Total,Total,37672706,5490918,572013,6062931,—,335,102,Total

In [7]:
df.loc[df.population > 2000000, ['Province', 'population']]

            Province  population
0         Ontario[b]    14659616
1             Quebec     8522800
5   British Columbia     5105576
8            Alberta     4395586
10             Total    37672706

In [8]:
df.loc[df.population > 2000000, :'largest_city']

            Province      capital largest_city
0         Ontario[b]      Toronto      Toronto
1             Quebec  Quebec City     Montreal
5   British Columbia     Victoria    Vancouver
8            Alberta     Edmonton      Calgary
10             Total        Total        Total

In [16]:
df.loc[df.population > 2000000, 'size_class'] = 'large'

In [17]:
df.size_class

0     large
1     large
2       NaN
3       NaN
4       NaN
5     large
6       NaN
7       NaN
8     large
9       NaN
10    large
Name: size_class, dtype: object

In [18]:
df[['Province', 'population', 'size_class']]

                     Province  population size_class
0                  Ontario[b]    14659616      large
1                      Quebec     8522800      large
2                 Nova Scotia      976768        NaN
3               New Brunswick      780021        NaN
4                    Manitoba     1373859        NaN
5            British Columbia     5105576      large
6        Prince Edward Island      157901        NaN
7                Saskatchewan     1178657        NaN
8                     Alberta     4395586      large
9   Newfoundland and Labrador      521922        NaN
10                      Total    37672706      large

# blah

In [25]:
from datetime import date, datetime
df.entered.astype(datetime)

TypeError: dtype '<class 'datetime.datetime'>' not understood

# iloc

In [9]:
df.iloc[0, 0]

'Ontario[b]'

In [10]:
df.iloc[1, 0]

'Quebec'

In [11]:
df.iloc[3:6, :3]

           Province      capital largest_city
3     New Brunswick  Fredericton      Moncton
4          Manitoba     Winnipeg     Winnipeg
5  British Columbia     Victoria    Vancouver